*{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #012d47;
    margin: 0px;
    padding: 0px;
}
.navbar{
    height: 70px;
    border: 2px solid white;
    display: flex;
    justify-content: start;
    background-color: #012d47;
    align-items: center;
}
.navlogo{
    background-image: url("logo.jpeg");
    height: 60px;
    width:60px;
    border-radius: 50%;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.socialmedia{
    margin-left: 200px;
    display: flex;
}
.socialmedia i{
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    margin-left: 3px;
    margin-right: 3px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    margin-left: 5px;
}
i:hover{
    border: 3px solid white;
    border-radius: 50px;
}
.navcontent{
    margin-left: 150px;
    background-color: #012d47;
}
a:hover{
    border: 2px solid white;
    border-radius: 5px;
    color: black;
}
a{ 
    background-color: #012d47;
    margin-left: 100px;
    font-weight: 1rem;
    font-size: 20px;
    text-decoration: none;
}
/** image **/
.navimg{
    height: 500px;
    margin-top: 2px;
}
.navimage1{
    background-image: url(bannerimg.jpg);
    height:500px; 
    background-repeat: no-repeat;
    background-size: cover;
}
/** main content **/
.maincontent{
    color: #012d47;
    margin-top: 30px;
    display: flex; 
    justify-content: space-around;
    align-items:normal;
    height: 300px;
}
.img{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    display: block; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.content{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    display: flex;
    background-image: url(Rbann.jpeg);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
    opacity: 1;
}
/** main **/
.estimationform{
    height: 900px;
    border-radius: 3px;
    width: 100%;
    border-radius: 50px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.751);
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.estimationform1 {
    height: 700px;
    background-color: white;
    border-radius: 3px;
    border:3px solid #012d47 ;
    color:#012d47;
}
input{
    background-color: white;
    width: 400px;
    height: 40px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.63); 
    font-weight: 1rem;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
}
select {
    width: 820px;
    height: 40px;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: white; 
    margin-bottom: 2px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.63); 
}
p{
    width: 820px;
    height: 40px;
    align-items: center;
    font-size: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    background-color: white;
    color: rgba(0, 0, 0, 0.63);
    margin-top: 5px;
    margin-left: 5px;
}
textarea{
    width: 820px;
    outline: none;
    border-radius: 3px;
    margin-top: 8px;
    resize: vertical;
    margin-left: 5px;
    border: none;
    background-color: white; 
    margin-bottom: 2px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.63); 
}
button{
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background-color: #012d47;
    color: white;
    font-weight: bolder;
    margin-left: 380px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.befaf{
    height: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.bef{
    height: 400px;
    width: 600px;
}
.aftr{
    height: 400px;
    width: 600px;
}
.checkbox1{
    height:20px;
    width: 20px;
    color: rgba(0, 0, 0, 0.63);
    display: inline-block;
    justify-content: space-evenly;
}
/** Footer **/
footer{
    margin-top: 15px;
 }
.footpanel1{
    height: 500px;
    margin-top: 5px;
    background-color: #012d47;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
 }
 .footpanel2{
    height: 300px;
    background-color: #012d47;
    display: flex;
    justify-content: space-evenly;
 }
 .foot{
    height: 30px;
    margin-left: 100px;
    justify-content: baseline ;
}
#estimate{
    height: 30px;
    margin-left: 100px;
    justify-content: center ;
}
 .footpanel2 ul{
    margin-top: 30px;
    justify-content: center;
 }
 .footpanel2 a{
    display: flex;
    margin-left: 100px;
    font-size: 1rem;
    justify-content: baseline;
    margin-top: 8px;
 }
 .footpanel3{
    height: 60px;
    background-color: #012d47;
    border-top: 0.5px solid white;
    display: flex;
    color: white;
    font-size: 0.65rem;
    font-style: italic;
    justify-content: center; 
   align-items: center; 
  }
.footereasy{
    color: white;
}
.foot{
     font-size: 1rem;
     font-weight: 700;
}
